{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>                                    <!-- tr adds a row -->
            <th>Task</th>                       <!-- each th titles a column -->
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}                 <!-- adds a row for each task added -->
            <tr>                                            <!-- adds a row -->
                <td>{{ task.content }}</td>                 <!-- fills first col -->
                <td>{{ task.date_created.date() }}</td>     <!-- fills second col -->
                <td>                                                <!-- fills third col -->
                    <a href="/delete/{{task.id}}">Delete</a>        <!-- creates delete button -->
                    <br>
                    <a href="/update/{{task.id}}">Update</a>        <!-- creates update button -->
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}